body{
  background-color: #333333;
}

p{
  margin: auto;
  text-align: center;
  font-size: 45px;
}

h1{
  text-align: center;
  font-size: 30px;
}

.prevButton {
  border-radius: 28px;
  text-shadow: 1px 1px 3px #666666;
  font-family: Georgia;
  color: #67656b;
  font-size: 21px;
  background: #d3d934;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

div p {
  font-size: 25px;
}

.nextButton {
  float: right;
}
